body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-items: center;
}
.container {
  display: flex;
  width: 70%;
}

/* LEFT SIDE */
.container .left-side {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(244, 38%, 16%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*HEADER*/

.container .left-side header {
  width: 70%;
}

.container .left-side header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.container .left-side header p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 2rem;
  line-height: 1.5rem;
}

.container .left-side header span {
  color: hsl(277, 64%, 61%);
}

/*SECTION*/

.container .left-side section {
  padding-top: 2.9rem;
  display: flex;
  width: 70%;
}

.container .left-side section .bottom-item {
  margin: 0 10% 0 0;
  padding-top: 2%;
}

.container .left-side section .bottom-item h3 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.container .left-side section .bottom-item p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 200;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/* RIGHT SIDE */

.container .right-side {
  width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(
      hsl(277, 100%, 30%, 0.5),
      hsl(277, 100%, 30%, 0.5)
    ),
    url("./images/image-header-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10%; */
    padding: 0;
  }

  .left-side {
    display: flex;
    order: 2;
    width: 100%;
    margin-bottom: 20px;
  }
  .right-side {
    width: 100%;
    margin-top: 200px;
  }
  .container .right-side {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;

    background: linear-gradient(
        hsl(277, 100%, 30%, 0.5),
        hsl(277, 100%, 30%, 0.5)
      ),
      url("./images/image-header-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    box-sizing: border-box;
  }

  .container .left-side {
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .container .left-side header {
    width: 80%;
  }

  .container .left-side header h1 {
    margin-top: 40px;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-align: center;
  }
  .container .left-side header p {
    text-align: center;
    font-size: 0.9rem;
  }

  .container .left-side section {
    flex-direction: column;
    align-items: center;
  }

  .container .left-side section .bottom-item {
    text-align: center;
    /* margin-bottom: 30px; */
    margin: 0 0 30px 0;
  }

  .container .left-side section .bottom-item h3 {
    font-size: 1.5rem;
    /* font-weight: bold; */
  }

  .container .left-side section .bottom-item p {
    font-size: 0.6rem;
  }
}
